In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv("weather_classification_data.csv")
df.head()

,Temperature,Humidity,Wind Speed,Precipitation (%),Cloud Cover,Atmospheric Pressure,UV Index,Season,Visibility (km),Location,Weather Type
0,14.0,73,9.5,82.0,partly cloudy,1010.82,2,Winter,3.5,inland,Rainy
1,39.0,96,8.5,71.0,partly cloudy,1011.43,7,Spring,10.0,inland,Cloudy
2,30.0,64,7.0,16.0,clear,1018.72,5,Spring,5.5,mountain,Sunny
3,38.0,83,1.5,82.0,clear,1026.25,7,Spring,1.0,coastal,Sunny
4,27.0,74,17.0,66.0,overcast,990.67,1,Winter,2.5,mountain,Rainy

In [12]:
print(df['Cloud Cover'].unique())
print(df['Location'].unique())
print(df.isnull().sum())

['partly cloudy' 'clear' 'overcast' 'cloudy']
['inland' 'mountain' 'coastal']
Temperature             0
Humidity                0
Wind Speed              0
Precipitation (%)       0
Cloud Cover             0
Atmospheric Pressure    0
UV Index                0
Season                  0
Visibility (km)         0
Location                0
Weather Type            0
dtype: int64

In [13]:
y = df['Weather Type']
df.drop(['Weather Type'], axis=1, inplace=True)

In [14]:
#one hot encoder
from sklearn.preprocessing import OneHotEncoder

cat_col = df.select_dtypes(include=['object']).columns.tolist()

ohe = OneHotEncoder(sparse_output=False)
encoded_data = ohe.fit_transform(df[cat_col])
df_encoded = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out(cat_col))

new_df = pd.concat([df, df_encoded], axis=1)
new_df.drop(cat_col, axis=1, inplace=True)

new_df.head()

,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km),Cloud Cover_clear,Cloud Cover_cloudy,Cloud Cover_overcast,Cloud Cover_partly cloudy,Season_Autumn,Season_Spring,Season_Summer,Season_Winter,Location_coastal,Location_inland,Location_mountain
0,14.0,73,9.5,82.0,1010.82,2,3.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,39.0,96,8.5,71.0,1011.43,7,10.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,30.0,64,7.0,16.0,1018.72,5,5.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,38.0,83,1.5,82.0,1026.25,7,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,27.0,74,17.0,66.0,990.67,1,2.5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [15]:
new_df.dtypes
#all values are numbers-->good no other prep needed

Temperature                  float64
Humidity                       int64
Wind Speed                   float64
Precipitation (%)            float64
Atmospheric Pressure         float64
UV Index                       int64
Visibility (km)              float64
Cloud Cover_clear            float64
Cloud Cover_cloudy           float64
Cloud Cover_overcast         float64
Cloud Cover_partly cloudy    float64
Season_Autumn                float64
Season_Spring                float64
Season_Summer                float64
Season_Winter                float64
Location_coastal             float64
Location_inland              float64
Location_mountain            float64
dtype: object

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(new_df, y, test_size=0.2, random_state=42)

print(X_train)
print(y_test)

       Temperature  Humidity  Wind Speed  Precipitation (%)  \
3958          32.0        66         6.0               92.0
2239          15.0        96        11.0               57.0
3608          28.0        58         6.5               11.0
6848          47.0        84        44.5               85.0
6119          18.0        66        14.0               10.0
...            ...       ...         ...                ...
11964         32.0        98         5.5               89.0
5191          41.0        79        14.0               17.0
5390          34.0        52         7.0               13.0
860            9.0        73        10.0               84.0
7270          11.0        95         5.5               65.0

       Atmospheric Pressure  UV Index  Visibility (km)  Cloud Cover_clear  \
3958                1010.21         2              1.5                0.0
2239                1016.98         0              4.0                0.0
3608                1025.37        10              9.0                1.0
6848                 992.26         2              2.0                0.0
6119                1000.04         1              8.0                0.0
...                     ...       ...              ...                ...
11964               1006.51         2              2.5                0.0
5191                 959.01        14              1.0                0.0
5390                1009.30         1              8.0                0.0
860                 1000.06        14              8.0                0.0
7270                 997.77         2              4.0                0.0

       Cloud Cover_cloudy  Cloud Cover_overcast  Cloud Cover_partly cloudy  \
3958                  0.0                   0.0                        1.0
2239                  0.0                   1.0                        0.0
3608                  0.0                   0.0                        0.0
6848                  0.0                   1.0                        0.0
6119                  0.0                   0.0                        1.0
...                   ...                   ...                        ...
11964                 0.0                   1.0                        0.0
5191                  0.0                   1.0                        0.0
5390                  0.0                   1.0                        0.0
860                   0.0                   1.0                        0.0
7270                  0.0                   0.0                        1.0

       Season_Autumn  Season_Spring  Season_Summer  Season_Winter  \
3958             0.0            1.0            0.0            0.0
2239             1.0            0.0            0.0            0.0
3608             0.0            0.0            1.0            0.0
6848             0.0            0.0            0.0            1.0
6119             1.0            0.0            0.0            0.0
...              ...            ...            ...            ...
11964            0.0            1.0            0.0            0.0
5191             0.0            0.0            1.0            0.0
5390             0.0            0.0            1.0            0.0
860              0.0            1.0            0.0            0.0
7270             1.0            0.0            0.0            0.0

       Location_coastal  Location_inland  Location_mountain
3958                0.0              1.0                0.0
2239                0.0              0.0                1.0
3608                0.0              1.0                0.0
6848                1.0              0.0                0.0
6119                1.0              0.0                0.0
...                 ...              ...                ...
11964               1.0              0.0                0.0
5191                0.0              0.0                1.0
5390                1.0              0.0                0.0
860                 0.0              0.0                1.0
7270                1.0              0.0                0.0

[10560 rows x 18 columns]
4111      Sunny
10607     Sunny
7372      Sunny
11786     Snowy
12227     Sunny
          ...
2543      Rainy
96        Rainy
2474      Snowy
2522      Snowy
3393     Cloudy
Name: Weather Type, Length: 2640, dtype: object

In [18]:
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'